

// GEOGRAPHY
.geography {
	@include green-gradient-revers();
	padding: 30px 0 60px 0;
	h2, .section-title {
		margin-bottom: 0;
	}
}
.geography-img {
	margin-top: calc(-5em);
	width: 100%;
	height: auto;
}

// LAST WORKS
.last-works {
	position: relative;
	margin: 30px 0;
	&:before {
		content: '';
		position: absolute;
		top: initial;
		left: initial;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, 0.9);
		z-index: -1;
		display: block;
		width: calc(60%);
		height: calc(100% - 30px);
	}
	.section-title {
		margin-bottom: 0;
	}
}
.text-description {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #6a735b;
	text-align: left;
	margin: 30px 0;
	&.white {
		color: #ffffff;
		p, span {
			color: #ffffff;
		}
	}
	p, span {
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: #6a735b;
		text-align: left;
	}
}

// SLIDER LAST WORK
.slide-wrap {
	margin: 50px 0;
	border-radius: 15px;
	box-shadow: 0 0 50px rgba(48, 48, 49, .2);
	max-width: 470px;
	width: 100%;
}
.slide-img {
	overflow: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 17em;
	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}

#last-works-slider .slick-slide {
	margin: 0 25px;
}

#last-works-slider .slider-caption {
	background: #ffffff;
	padding: 2em 5em 2em 7em;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	@extend .touch-content;
	.touch-title {
		display: block;
		font-size: 20px;
		position: relative;
		&:before {
			color: #6a735b;
			font-size: 20px;
			position: absolute;
			left: -2em;
			top: -.1em;
		}
	}
	.touch-description {
		display: block;
		text-transform: inherit;
		font-size: 14px;
		margin-bottom: 30px;
		p, span, a, li, div {
			font-size: 14px;
			text-transform: inherit;
		}
	}
}

// Gallery
.gallery {
	background: transparent;
}
.gallery-img {
	height: 24em;
	overflow: hidden;
	img {
		margin: 0 auto;
		display: block;
		height: 100%;
		width: 100%;
	}
}
#gallery {
	margin: 0 -20% 5em -20%;
}
#gallery .slick-slide {
	filter: blur(10px);
	transform: scale(.8);
}

#gallery .slick-slide.slick-current + .slick-active {
	filter: blur(0) !important;
	transform: none !important;
}
#gallery .slick-list {
	width: 100%;
	
}
#gallery .slick-prev,
#gallery .slick-next {
	&:before {
		opacity: 1;
		
	}
	&:hover {
		&:before {
			color: #ffffff;
		}
	}
}
#gallery .slick-prev {
	left: 25%;
}
#gallery .slick-next {
	right: 25%;
}

// TEXT BLOCK WITH GREEN BG
.text-block {
	@include green-gradient-revers();
	width: calc(90%);
	float: right;
	padding: 4em 16em 4em 2em;
	box-shadow: 0 20px 40px rgba(48, 48, 49, 0.3);
	margin: 6em 0;
	
	p, span, a, li, div, b, em, strong {
		color: #ffffff;
		font-weight: 400;
		font-size: 24px;
		line-height: 45px;
		text-align: left;
	}
}

// VIEW CATALOG
.view-catalog {
	position: relative;
}
.view-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.view-row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
}
.view-img {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
	height: calc(55em - 5vh);
	z-index: -1;
	opacity: .8;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		@include white-gradient();
	}
}
.view-text {

}
.catalog-description {
	li {
		text-transform: uppercase;
		p, span, a, strong, em, b {
			text-transform: uppercase;
		}
	}
}