@import "vars";

// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 575px) {
	
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767px) {
	
}
// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 767px) {
	.navbar-toggle {
		.icon-bar {
			background: #113218;
			height: 4px;
			width: 31px;
		}
	}
		.nav-header {
			display: none;
		}
	// VIEW CATALOG
	.view-img {
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .3;
	}
	.view-title {
		position: relative;
	}
	.view-text {
		padding-left: 15px;
	}
}



// Medium devices (tablets, 992px and up)
@media screen and (min-width: 768px) {
	
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.btn-border {
		margin: 2px 0 2px 30px;
	}


	
}

@media screen and (max-width: 1199px) {
	
	.btn-border {
		margin: 2px 0 2px 30px;
	}
	// Gallery
	#gallery .slick-prev {
		left: 0;
	}
	#gallery .slick-next {
		right: 0;
	}
	
	
	
	
}

// Extra large devices (large desktops, 1170px and up)
@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}

}

